@use '../abstracts/variables';

header {
  padding-block: 3.125rem; 
  display: grid;
  place-content: center;
}

.calculator{
  background-color: var(--clr-white);
  width: 100%;
  max-width: 57.5rem; //920px
  padding: 2rem;
  border-radius: 1.5rem 1.5rem 0 0 ;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.05) ;

  display: grid;
  gap: 2rem;

  @media( min-width: 48rem){
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem;
    border-radius: 1.5rem;
    column-gap: 3rem;
  }
}

.calculator__group {
  display: grid;
  gap: 0.375rem;
  margin-block-end: 2rem; // Memberi jarak ke grup bawahnya

  &:last-child {
    margin-block-end: 0;
  }
}

.calculator__label {
  color: var(--clr-neutral-500);
  font-size: 1rem;
}