@use "../abstracts/variables";

header {
  padding-block: 3.125rem;
  display: grid;
  place-content: center;
}

.calculator {
  background-color: var(--clr-white);
  width: 100%;
  max-width: 57.5rem; //920px
  padding: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.05);

  display: grid;
  gap: 2rem;

  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem;
    border-radius: 1.5rem;
    column-gap: 3rem;
  }
}

.calculator__group {
  display: grid;
  gap: 0.375rem;
  margin-block-end: 2rem; // Memberi jarak ke grup bawahnya

  &:last-child {
    margin-block-end: 0;
  }
}

.calculator__label {
  color: var(--clr-neutral-500);
  font-size: 1rem;
}

.calculator__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    inset-inline-start: 1rem;
  }
}

.calculator__input {
  width: 100%;
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
  font-size: 1.5rem; //24px
  text-align: end;
  padding: 0.375rem 1rem;
  border-radius: 0.3125rem; //5px
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: var(--clr-primary-400);
  }

  &::placeholder {
    color: var(--clr-neutral-400);
    opacity: 0.6;
  }
}

.calculator__tip-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (min-width: 48rem){
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn-tip {
  background-color: var(--clr-neutral-900);
  color: var(--clr-white);
  font-size: 1.5rem;
  padding-block: 0.375rem;
  border-radius: 0.3125rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-900);
  }

  &--active {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-900);
  }

}

.calculator__input-custom {
  @extend .calculator__input;
  padding-inline: 0.75rem;

  &::placeholder {
    text-align: center;
    color: var(--clr-neutral-500);
    opacity: 1;
  }
}

