.calculator__display-area {
  background-color: var(--clr-neutral-900);
  padding: 2.5rem 1.5rem 1.5rem;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media (min-width: 48rem) {
    padding: 3rem 2.5rem 2.5rem;
  }
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__title{
    color: var(--clr-white);
    font-size: 1rem;
  }

  &__subtitle {
    font-size: 0.8125rem;
    color: var(--clr-neutral-400);
  }

  &__value {
    color: var(--clr-primary-400);
    font-size: clamp(2rem, 8vw, 3rem);
    letter-spacing: -1px;
  }
}

.btn-reset {
  width: 100%;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-block: 0.5rem;
  border-radius: 0.3125rem;
  transition: background-color 0.2s ease;

  &:hover:not(:disabled){
    background-color: var(--clr-neutral-200);
  }

  &:disabled{
    opacity: 0.2;
    cursor: not-allowed;
  }

}