@use "../abstracts/variables";

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-block-start: 2rem;
  color: var(--clr-neutral-500);

  a {
    color: var(--clr-primary-400);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}