*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  line-height: 1.5;

  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
